<nav class="navbar navbar-default" style="background-color: black;color: azure;font-size: 20px">

  <div class="container-fluid">
    <ul class="nav navbar-nav">
      <li>
        <a style="font-size: 25px;color:white">Acelys Burger   <i style="font-size: 20px">	&#9400;Tom</i></a>
      </li>
    </ul>
    <ul class="nav navbar-nav navbar-right" >
      <li routerLinkActive="active" *ngIf="isAuth">
        <a style="color:chocolate"[routerLink]="['/menus']">Menus</a>
      </li>
      <li routerLinkActive="active" *ngIf="isAuth">
        <a style="color:chocolate"[routerLink]="['/commandes']">Commandes</a>
      </li>
      
      <li routerLinkActive="active" *ngIf="!isAuth">
        <a style="color:chocolate"[routerLink]="['/auth/signin']">Connexion</a>
      </li>
      <li routerLinkActive="active" *ngIf="!isAuth">
        <a style="color:chocolate"[routerLink]="['/auth/signup']">Créer un compte</a>
      </li>
      <li>
        <a (click)="onSignOut()" *ngIf="isAuth" style="cursor: pointer;color: red">Déconnexion</a>
      </li>
    </ul>
  </div>
</nav>
