<style>
h4{
  color: chocolate;
  font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
h3{
  color:brown;
  font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
</style>
<div class="row" style="padding-top: 20px">
  <div class="col-sm-3" style="background-color: black;color: azure;border: antiquewhite solid 1px;height: 600px">

    <h4>Menu Express 10,50 €</h4>
    <ul>
      <li>le Normand</li>
      <li>Burger BBQ </li>
      <li>22</li>
      <li>SATAY</li>
      <li>GRAIN DE FORME</li>
    </ul>


    <h4>Menu Ptilou 7,50 €</h4>
    <ul>
      <li>Burger Faim de Loup</li>
    </ul>

    <h4>Menu Futé 8,50 €</h4>
    <ul>
      <li>Burger Ptilou</li>
    </ul>
    <h4>Menu Inimitable 13 €</h4>
    <ul>
      <li>Andalou</li>
      <li>Italian Job</li>
      <li>9</li>
      <li>Chamonix</li>
      <li>Portabello</li>
      <li>Mistral</li>
      <li>Mediterranéen</li>
      <li>Samourai</li>
    </ul>

    <h4>Menu Faim de Loup 15,50 €</h4>
    <ul>
      <li>Burger Faim de Loup</li>
    </ul>
    <br>
    <h5>Pour chaque menu un accompagnement et une boisson (hors Arizona et Alcool)</h5>
  </div>
  <div class="col-sm-5" style="background-color: black;color: azure;max-height: 600px; overflow-y: scroll;border: antiquewhite solid 1px">
      <h3>Burger Viande 150gr</h3>
      <ul>
        <h4>Le Normand 8,50 €</h4>
        <li>Pain Burger, moutarde, demi camembert rôti, oignons confits, salade, tomate</li>
        <h4>PTILOU 6,50 €</h4>
        <li>Pain Burger Artisanal, Ketchup, Mayonnaise, Steak Haché de Bœuf Black Angus, Salade, Cheddar</li>
        <h4>Burger BBQ 8,50 €</h4>
        <li>Pain Burger Artisanal, Sauce BBQ, Salade, Tomate, Oignons Confits, Steak Haché de Bœuf Black Angus, Double
          Bacon, Cheddar</li>
        <h4>ITALIAN JOB 9,50 €</h4>
        <li>Pain Burger Artisanal, Pesto, Steak Haché de Bœuf Black Angus, Mozzarella, Roquette, Tomates Séchées,
          Jambon Cru, Vinaigre Balsamique</li>
        <h4>MISTRAL 9,50 €</h4>
        <li>Pain Burger Artisanal, Sauce Provençale, Steak Haché de Boeuf Black Angus, Roquette, Poivrons Piquillos,
          Oignons Confits, Chèvre Frais</li>
        <h4>CHAMONIX 9,50 €</h4>
        <li>Pain Burger Artisanal, Sauce au Bleu, Steak Haché de Bœuf Black Angus, Chèvre Frais, Gruyère, Oignons
          Confits, Salade, Tomate</li>
        <h4>PORTABELLO 9,50 €</h4>
        <li>Pain Burger Artisanal, Sauce Champignons, Steak Haché de Boeuf Black Angus, Champignons, Bacon, Brie
          Fondant, Salade, Tomat</li>
        <h4>9 9,50 €</h4>
        <li>Pain Burger Artisanal, Sauce Provençale, Steak Haché de Boeuf Black Angus, Salade, Poivron Piquillos,
          Gruyère, Jambon Serrano, Oeuf au P0lat</li>
        <h4>ANDALOU 9,50 €</h4>
        <li>Pain Burger Artisanal, Sauce Andalouse, Steak Haché de Bœuf Black Angus, Chorizo Poivron Piquillos, Fromage
          de Brebis, Salade</li>
        <h4>FAIM DE LOUP 12€</h4>
        <li>Pain Burger Artisanal, sauce BBQ, 2 steaks hachés de Bœuf Black Angus, Salade, oignons Confits, Cheddar,
          Gruyère, Galette de Pomme de Terre</li>
      </ul>
      <h3>Burger Poulet</h3>
      <ul>
        <h4>Satay 8,50 €</h4>
        <li>Pain Burger Artisanal, Sauce Satay (Sauce Thaïlandaise), Aiguilettes de Poulet Croustillant, Bacon, Oignons
          Confits, Cheddar, Salade, Tomate</li>
        <h4>22 6,50 €</h4>
        <li>Pain Burger Artisanal, Sauce Poivre, Aiguilettes de Poulet Croustillant, Galette de Pomme de Terre, Bacon,
          Cheddar, Salade, Tomate</li>
      </ul>
      <h3>Burger Agneau</h3>
      <ul>
        <h4>MEDITERRANEEN 9,50 €</h4>
        <li>Pain Burger Artisanal, Sauce Orientale, Steak Haché d'Agneau, Galette de Pomme de Terre, Poivron Piquillos,
          Saladee</li>
      </ul>
      <h3>Burger Saumon</h3>
      <ul>
        <h4>SAMOURAÏ 9,50 €</h4>
        <li>Pain Burger Artisanal, Sauce Japonaise, Pavé de Saumon Snacké, Salade, Tomate</li>
      </ul>
      <h3>Burger Végétarien</h3>
      <ul>
        <h4>GRAIN DE FORME 8,50 €</h4>
        <li>Pain Burger Artisanal, Sauce Andalouse, Steak de Légumes, Oignons Frits, Cheddar, Salade, Poivron Piquillos</li>
      </ul>
    </div>
  <div class="col-sm-4" style="background-color: black;color: azure;padding-bottom: 20px;max-height: 600px; overflow-y: scroll;border: antiquewhite solid 1px">
    <h4>Accompagnement 2,50 €</h4>
    <ul>
      <li>Truffoles</li>
      <li>Frites Maison</li>
      <li>Petite Salade</li>
    </ul>
    <h4>Boissons</h4>
    <ul>
      <h4>Arizona 0,5 l 3</h4>
      <li>Pêche, Thé Vert Miel, Multi-fruits, Pastèque, Mangue, Citron, Grenade, Fraise Citron</li>
      <li>Eau 0,5l 1,50 €</li>
      <h4>Soft 33 cl 2€</h4>
      <li>Coca, Coca Zéro, Coca Cherry, Fanta Citron, Orangina, Schweppes Agrumes, Sprite, Oasis Tropical, Oasis
        Pomme Cassis Framboise, Nestea, Perrier</li>
      <h4>Bière</h4>
      <li>Cubanisto 3€50</li>
      <li>Desperado 3€50</li>
      <li>Leffe 3€50</li>
      <li>Bière Blonde Artisanale Occitane : Croix du Sud 3€</li>
      <li>Bière Ambrée Artisanale Occitane : Croix du Sud 3€</li>
    </ul>
    <h4>Les suppléments 2,50 €</h4>
    <ul>
      <li>Poivron piquillos/ Bacon/ Cheddar/ Brie/ Chèvre/ Gruyère +1,50€</li>
      <li>Galette de pomme de terre +2€</li>
      <li>Portion de Frites Maison +2,50€</li>
      <li>Portion de Chips Maison +2,50€</li>
      <li>Petite Salade +2,50€</li>
      <li>Steak Haché de Bœuf Black Angus 150gr +3,50€</li>
    </ul>
  </div>


</div>
